.header {
  background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  display: inline-block;
  text-align: center;
  font-size: 100px;
  margin-top: 400px;
  font-family: 'Brush Script MT', cursive;
}
